	<!DOCTYPE html>
<html lang="en" ng-app="TableApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Result</title>
  <script src="jquery-3.2.1.min.js"></script>
  <script src="angular.min.js"> </script>
  <script src="app.js"> </script>
  <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
  <div class="container" ng-controller="TableController">
      <div class="input-group search-bar">
		<input type="text" 
			ng-model="searchedUserId" 
			placeholder="Enter UserId" />
	    <button ng-click="fetchUserDetails()">Search</button>	
	</div> 
	  
	  <table class="table table-responsive table-striped">
	   <caption>Users Mobile Info Details</caption>
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">UserId</th>
			  <th scope="col">RouteManifestId</th>
			  <th scope="col">MobileDeviceId</th>
			  <th scope="col">Timestamp</th>
			  <th scope="col">Status</th>
			</tr>
		  </thead>
		  <tbody>
			<tr ng-repeat="item in data.UserMobileInfoDetails">
			  <th scope="row">{{$index+1}}</th>
			  <td>{{item.UserId}}</td>
			  <td>{{item.RouteManifestId}}</td>
			  <td>{{item.MobileDeviceId}}</td>
			  <td>{{item.Timestamp}}</td>
			  <td>{{item.Status}}</td>
			</tr>
		  </tbody>
	</table> 		
  </div>


</body>
</html>
